In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

pd.set_option('display.max_columns', None)

df = pd.read_csv('train.csv')
df.sample(5)

y = df['Survived']
x = df.drop(['Survived','PassengerId'],axis = 1)




x_train, x_test, y_train,y_test = train_test_split(x,y, test_size = 0.15)

In [1]:
import pandas as pd

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

print(df_train.shape)
print(df_train.size)

(891, 12)
10692

In [2]:
df_train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [3]:
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
print(df_train.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [6]:
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_train = pd.read_csv('train.csv')
 
def title(name):
   if '.' in name:
      return name.split(',')[1].split('.')[0].strip()
   else:
      return 'No title Exists'
unique_titles =sorted(set([x for x in df_train['Name'].map(lambda x: title(x))]))
 
print(len(unique_titles) ,':' ,unique_titles)
def compact_titles(x):
   title_new = x['Title']
   if title_new in ['Capt', 'Col', 'Major']:
      return 'Officer'
   elif title_new in ['Mr','Master','Don','the Countess','Sir', 'Ms','Jonkheer', 'Dona', 'Lady']:
      return 'Royale People'
   elif title_new in ['Mrs','Master','Miss''the Countess','Mme','Lady']:
      return 'Mrs'
   elif title_new in ['Miss','Mrs','Mlle', 'Ms']:
      return 'Miss'
   else:
      return title_new
 
 
df_train['Title'] = df_train['Name'].map(lambda x: title(x))
 
df_train['Title'] = df_train.apply(compact_titles, axis=1)
 
print(df_train.Title.value_counts())
df_train['Age'].fillna(df_train['Age'].median(), inplace =True)
df_train['Fare'].fillna(df_train['Fare'].median(), inplace =True)
df_train['Embarked'].fillna("S" , inplace =True)
df_train.drop('Name', axis=1, inplace=True)
df_train.drop('Ticket', axis=1, inplace=True)
df_train.drop('Cabin', axis=1, inplace=True)
df_train.Sex.replace(('male', 'female'), (0, 1), inplace=True)
df_train.Embarked.replace(('S', 'Q', 'C'), (0, 1, 2), inplace=True)
df_train.Title.replace(('Mrs', 'Miss', 'Royale People', 'Dr', 'Rev', 'Officer','Royale People'), (0, 1, 2, 3, 4, 5, 6), inplace=True)
print(df_train.sample(20))

17 : ['Capt', 'Col', 'Don', 'Dr', 'Jonkheer', 'Lady', 'Major', 'Master', 'Miss', 'Mlle', 'Mme', 'Mr', 'Mrs', 'Ms', 'Rev', 'Sir', 'the Countess']
Royale People    563
Miss             184
Mrs              126
Dr                 7
Rev                6
Officer            5
Name: Title, dtype: int64
     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  \
237          238         1       2    1   8.0      0      2  26.2500
133          134         1       2    1  29.0      1      0  26.0000
642          643         0       3    1   2.0      3      2  27.9000
497          498         0       3    0  28.0      0      0  15.1000
614          615         0       3    0  35.0      0      0   8.0500
485          486         0       3    1  28.0      3      1  25.4667
706          707         1       2    1  45.0      0      0  13.5000
320          321         0       3    0  22.0      0      0   7.2500
418          419         0       2    0  30.0      0      0  13.0000
598          599         0       3    0  28.0      0      0   7.2250
236          237         0       2    0  44.0      1      0  26.0000
32            33         1       3    1  28.0      0      0   7.7500
640          641         0       3    0  20.0      0      0   7.8542
468          469         0       3    0  28.0      0      0   7.7250
587          588         1       1    0  60.0      1      1  79.2000
534          535         0       3    1  30.0      0      0   8.6625
877          878         0       3    0  19.0      0      0   7.8958
285          286         0       3    0  33.0      0      0   8.6625
559          560         1       3    1  36.0      1      0  17.4000
60            61         0       3    0  22.0      0      0   7.2292

     Embarked  Title
237         0      1
133         0      0
642         0      1
497         0      6
614         0      6
485         0      1
706         0      0
320         0      6
418         0      6
598         2      6
236         0      6
32          1      1
640         0      6
468         1      6
587         2      6
534         0      1
877         0      6
285         2      6
559         0      0
60          2      6

In [7]:
corr = df_train.corr() #correlation 
corr.Survived.sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

#pd.set_option('display.max_columns', None)

#df_train = pd.read_csv('train.csv')
#df_train.sample(5)

y = df_train['Survived']
x = df_train.drop(['Survived','PassengerId'],axis = 1)




x_train, x_test, y_train,y_test = train_test_split(x,y, test_size = 0.15)

In [14]:
 
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
 
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_predicted = rf.predict(x_test)
 
acc_rf = round(accuracy_score(y_predicted,y_test)*100,2)
print(f'Accuracy of Model is :{acc_rf}')
pickle.dump(rf,open('my_titanic_model.sav','wb'))

Accuracy of Model is :79.85

In [17]:
 
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
 
rf = RandomForestClassifier()
rf.fit(x_train,y_train)
y_predicted = rf.predict(x_test)
 
acc_rf = round(accuracy_score(y_predicted,y_test)*100,2)
print(f'Accuracy of Model is :{acc_rf}')
pickle.dump(rf,open('my_titanic_model.sav','wb'))

Accuracy of Model is :82.84

In [18]:
# Creatinf Variables on TEST DATA
df_test = pd.read_csv('test.csv')
 
df_test['Title'] = df_test['Name'].map(lambda x: title(x))
 
df_test['Title'] = df_test.apply(compact_titles, axis=1)
ids = df_test['PassengerId']

print(df_test.Title.value_counts())
df_test['Age'].fillna(df_test['Age'].median(), inplace =True)
df_test['Fare'].fillna(df_test['Fare'].median(), inplace =True)
df_test['Embarked'].fillna("S" , inplace =True)
df_test.drop('Name', axis=1, inplace=True)
df_test.drop('Ticket', axis=1, inplace=True)
df_test.drop('Cabin', axis=1, inplace=True)
df_test.drop('PassengerId', axis=1, inplace=True)
df_test.Sex.replace(('male', 'female'), (0, 1), inplace=True)
df_test.Embarked.replace(('S', 'Q', 'C'), (0, 1, 2), inplace=True)
df_test.Title.replace(('Mrs', 'Miss', 'Royale People', 'Dr', 'Rev', 'Officer','Royale People'), (0, 1, 2, 3, 4, 5, 6), inplace=True)

Royale People    263
Miss              78
Mrs               72
Rev                2
Officer            2
Dr                 1
Name: Title, dtype: int64

In [20]:
predicted_value = rf.predict(df_test)
result = pd.DataFrame({'PassengerId':ids, 'Survived': predicted_value})
result.to_csv('titanic_predicted_result.csv', index = False)